<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${song.name}">Cancion</title>
    <link rel="stylesheet" href="/css/Common.css">
    <link rel="stylesheet" href="/css/SongPage.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="header-hr"></div>
<main>
    <div class="album-container">
        <div class="album-header">
            <img th:src="|/files/song/${song.imgPath}|" alt="Portada de la cancion" class="album-cover">
            <div class="album-info">
                <h1 th:text="${song.name}">Midnight Memories</h1>
                <div class="artist-info">
                    <img th:src="@{|/files/artist/${song.artistImgPath}|}" alt="Foto del artista" class="artist-photo">
                    <p th:text="${song.artist} + ' | ' + ${song.dateCreate}">One Direction | 2013</p>
                </div>
            </div>
        </div>
    </div>
    <article class="song" th:attr="onclick='window.location.href=\'' + ${song.url} + '\''">
        <h2 th:text="${song.name}">Happily</h2>
        <p th:text="${song.artist}">One Direction</p>
    </article>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>