<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/loginpage.css}">
    <title>SoundE</title>
</head>

<body>
<header>
    <h1>Descubre un mundo de música con Sound<span class="last">E</span></h1>
    <p>Explora millones de canciones, crea playlists personalizadas y descubre nuevos sonidos. Disfruta de una experiencia auditiva sin interrupciones, con calidad premium y sin límites.</p>
</header>
<main>
    <div class="card">
        <img class="logo" th:src="@{/img/icons/Logo-ConFondol.png}" alt="Logo SoundE">
        <h2>SOUND<span class="lasth2">E</span></h2>
        <form id="loginForm" th:action="@{/login}" method="post">
            <input type="text" id="user" name="username" class="user-bar" placeholder="Usuario" required>
            <input type="password" id="password" name="password" class="password-bar" placeholder="**********" required>

            <button type="submit" class="btn-login">Login</button>
            <button type="button" class="btn-contraseña" th:onclick="@{location.href='/forgot-password'}">He olvidado la contraseña</button>

            <div class="header-hr"></div>

            <button type="button" class="btn-cuenta" th:onclick="@{location.href='/register'}">Crear cuenta</button>
        </form>

        <div th:if="${param.error}" class="alert alert-error">
            Usuario o contraseña incorrectos
        </div>
    </div>
</main>

<script th:inline="javascript">
    document.querySelector('.btn-cuenta').addEventListener('click', function() {
        document.querySelector('.card-inner').classList.add('flipped');
        setTimeout(() => {
            window.location.href = /*[[@{/register}]]*/ '';
        }, 600);
    });
</script>
</body>
</html>