<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPLORAR</title>
    <link rel="stylesheet" href="/css/explorar.css">
    <link rel="stylesheet" href="/css/Common.css">
</head>
<body>
<header>
    <img src="/img/icons/Logo-ConFondol.png" alt="header-logo" class="logo">
    <div class="barra">
        <img src="/img/icons/lupa-gray.png" alt="" class="dualupa">
        <input type="text" id="search" class="search-bar" placeholder="¿Qué te apetece escuchar?" onfocus="this.placeholder=''" onblur="this.placeholder='¿Qué te apetece escuchar?'">
        <img src="/img/icons/libro-gray.png" alt="" class="libro">
    </div>
    <img src="/img/icons/icon.svg" alt="" class="icono">
</header>

<div class="header-hr"></div>

<div class="contenedor1">
    <div>
        <h2>Explora nueva música</h2>
    </div>
    <div>
        <!-- div vacio para centrar el h2 de "Explora nueva música" dentro del div donde están las tarjetas -->
    </div>

    <div class="tarjetas t1">
        <p>TOP 50 ESPAÑA</p>
    </div>

    <div class="tarjetas t2">
        <p>TOP 50 MUNDIAL</p>
    </div>

    <div class="tarjetas">
        <img src="/img/icons/reggae.jpeg" alt="">
        <p>REGGAE</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/indie.webp" alt="">
        <p>INDIE</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/trap.jpg" alt="">
        <p>TRAP</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/pop.jpg" alt="">
        <p>POP</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/jazz.jpeg" alt="">
        <p>JAZZ</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/flamenco.jpg" alt="">
        <p>FLAMENCO</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/clasica.webp" alt="">
        <p>CLÁSICA</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/disco.jpeg" alt="">
        <p>DISCO</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/rock.jpg" alt="">
        <p>ROCK</p>
    </div>
    <div class="tarjetas">
        <img src="/img/icons/reggaeton.jpg" alt="">
        <p>REGGAETON</p>
    </div>


</div>


</body>

<footer>
    <img src="/img/icons/home.svg">
    <img src="/img/icons/search.svg" alt="" srcset="">
    <img src="/img/icons/icon.svg" alt="">
</footer>
</html>