<header>
  <img src="/img/icons/Logo-ConFondol.png" alt="header-logo" class="logo">
  <div class="barra">
    <img src="/img/icons/lupa-gray.png" alt="" class="dualupa">
    <input type="text" id="search" class="search-bar" placeholder="¿Qué te apetece escuchar?" onfocus="this.placeholder=''" onblur="this.placeholder='¿Qué te apetece escuchar?'">
    <img src="/img/icons/libro-gray.png" alt="" class="libro">
  </div>
  <a href="/login">
  <img src="/img/icons/icon.svg" alt="" class="icono">
  </a>
</header>
