:root {
    --subtitle-size: 1.3em;
    --title-size: 1.9em;
    --pink: #d103d1;
    --gray: #404040;
    --border-radius:8px;
}

@font-face {
    font-family: Questrial;
    src: url(./media/fonts/Questrial-Regular.ttf);
}

@font-face {
    font-family: NotoSans;
    src: url(./media/fonts/NotoSans-VariableFont_wdth\,wght.ttf);
    font-weight: bolder;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 20px;
    background-color: black;
    color: white;
}

p {
    font-family: Questrial;
    font-size: var(--subtitle-size);
}

h1 {
    font-family: NotoSans;
    align-self: self-start;
    font-size: var(--title-size);
}

header {
    justify-self: center;
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.barra {
    display: none;
}

.icono {
    display: none;
}

.header-hr {
    justify-self: center;
    width: 70%;
    background-color: grey;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.recents {
    margin: var(--margin-sections);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
}

.recents__container {
    background-color: var(--gray) ;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    width: 100%;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-content: start;
    gap: 20px;;
}

.music-container__scroll{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none;
}

.music-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 8px;
}

footer {
    min-height: 6vh;
    position: sticky;
    z-index: 100;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.65), black);
}

@media (min-width: 960px) {

    header {
        justify-content: space-between;
    }

    .logo{
        margin-left: 20%;
        max-width: 80px;
        height: 30px;
    }
    
    .barra{ /*div que contiene el input y los dos iconos (lupa y biblioteca)*/
        justify-items: left;
        justify-content: left;
        background-color: white;
        justify-content: center;
        position: relative;
        border-radius: 20px;
        display: flex;
        width: 80%;
    }
    
    .barra .dualupa{ /*icono de lupa*/
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
    
    .barra .libro{ /*icono de libro, biblioteca o como vrgas le quieran llamar*/
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-60%);
        width: 20px;
        height: 20px;
    }
    
    .barra input { /*esta pertenece a la barra de buscador*/
        margin-left: 10%;
        text-align: left;
        width: 400px;
        height: 30px;
        border: 1px solid #ffffff;
        border-radius: 20px;
        font-size: 16px;
    }
    
    input:focus{
        outline: none;
        border: none;
    }
    
    .icono{ /*este pertenece al icono que se parece a Ronaldo Nazario cuando estaba en su prime, que jugadorazo!!!*/
        margin-right: 20%;
        display: block;
    }

    .recents {
        grid-template-columns: repeat(4,1fr);
    }

    .recents__container > img {
        height: 100px;
        width: 100px;
    }

    .recents__container {
        transition: background-color 0 linear;
    }

    .recents__container:hover {
        background-color: #5e5e5e;
    }

    .music-container__scroll {
        gap: 30px;
    }

    .music-container img {
        width: 170px;
        height: 170px;  
    }

    footer > img {
        display: none;
    }
}

@media (max-width: 960px) {
    .logo {
        max-width: 100px;
    }


    .recents {
        grid-template-columns: repeat(2,1fr);
    }

    .recents__container > img {
        height: 80px;
        width: 80px;
    }


    footer > img {
        width: 50px;
    }
}

@media (max-width: 600px) {
    .logo {
        max-width: 80px;
    }


    .recents {
        grid-template-columns: repeat(2,1fr);
    }

    .recents__container > img {
        height: 60px;
        width: 60px;
    }

    footer > img {
        width: 30px;
    }
}

@media (max-width: 400px) {
    .recents {
        grid-template-columns: 1fr;
    }


    .recents__container > img {
        height: 60px;
        width: 60px;
    }
}