<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbum Musical</title>
    <link rel="stylesheet" href="./Common.css">
    <link rel="stylesheet" href="./PlaylistPage.css">
</head>
<body>
<header>
    <img src="/img/icons/Logo-ConFondol.png" alt="header-logo" class="logo">
    <div class="barra">
        <img src="/img/icons/lupa-gray.png" alt="" class="dualupa">
        <input type="text" id="search" class="search-bar" placeholder="¿Qué te apetece escuchar?" onfocus="this.placeholder=''" onblur="this.placeholder='¿Qué te apetece escuchar?'">
        <img src="/img/icons/libro-gray.png" alt="" class="libro">
    </div>
    <img src="/img/icons/icon.svg" alt="" class="icono">
</header>
<main>
    <div class="album-container">
        <div class="album-header">
            <img src="/img/examples/cover8.jpg" alt="Portada del álbum" class="album-cover">
            <div class="album-info">
                <h1>Midnight memories</h1>
                <div class="artist-info">
                    <img src="/img/icon.svg" alt="Foto del artista" class="artist-photo">
                    <p>One Direction | 2013</p>
                </div>
            </div>
            <button class="play-button">▶</button>
        </div>
        <section class="tracklist">
            <article class="song">
                <p>Happily</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Strong</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Right Now</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Alive</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Through the Dark</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Story of My Life</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Something Great</p>
                <h3>One Direction</h3>
            </article>
            <article class="song">
                <p>Does He Know?</p>
                <h3>One Direction</h3>
            </article>
        </section>
    </div>
</main>
<footer>
    <img src="/img/icons/search.svg" alt="" srcset="">
    <img src="/img/icons/icon.svg" alt="">
    <img src="/img/icons/home.svg">
</footer>
</body>
</html>