<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Álbum Musical</title>
  <link rel="stylesheet" href="./Common.css">
  <link rel="stylesheet" href="./PlaylistPage.css">
</head>
<body>
<header>
  <img src="/img/Logo-ConFondol.png" alt="header-logo" class="logo">
  <div class="barra">
    <img src="/img/lupa-gray.png" alt="" class="dualupa">
    <input type="text" id="search" class="search-bar" placeholder="¿Qué te apetece escuchar?" onfocus="this.placeholder=''" onblur="this.placeholder='¿Qué te apetece escuchar?'">
    <img src="/img/libro-gray.png" alt="" class="libro">
  </div>
  <img src="/img/icon.svg" alt="" class="icono">
</header>
<main>
  <div class="album-container">
    <div class="album-header">
      <img th:src="${playlist.imgPath}" th:alt="${playlist.name}" class="album-cover">
      <h1><span th:text="${playlist.name}"></span></h1>
      <div class="artist-info">
        <img src="${playlist.artistImgPath}" alt="Foto del artista" class="artist-photo">
        <p th:text="${user.name}" th:text="/ ${playlist.dateCreate}"></p>
      </div>
      <button class="play-button">▶</button>
    </div>
    <section class="tracklist">
      <article class="track" th:each="song : ${songs}">
        <p span th:text="${song.name}"></p>
        <h3><span th:text="${song.artistImgPath}"></span></h3>
      </article>
    </section>
  </div>
</main>
<footer>
  <img src="/img/search.svg" alt="" srcset="">
  <img src="/img/icon.svg" alt="">
  <img src="/img/home.svg">
</footer>
</body>
</html>