<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${playlist.name}">Álbum Musical</title>
  <link rel="stylesheet" href="/css/Common.css">
  <link rel="stylesheet" href="/css/PlaylistPage.css">
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
  <div class="album-container">
    <div class="album-header">
      <img th:src="|/files/playlist/${playlist.imgPath}|" alt="Portada del álbum" class="album-cover">
      <div class="album-info">
        <h1 th:text="${playlist.name}">Midnight Memories</h1>
        <div class="artist-info">
          <img th:src="@{|/files/artist/${playlist.artistImgPath}|}" alt="Foto del artista" class="artist-photo">
          <p th:text="${playlist.artist} + ' | ' + ${playlist.dateCreate}">One Direction | 2013</p>
        </div>
      </div>
    </div>
    <section class="tracklist">
      <div class="image" th:each="song : ${playlist.songs}" th:attr="onclick='window.location.href=\'' + ${song.url} + '\''">
        <img th:src="|/files/song/${song.imgPath}|" alt="Song" class="song-cover">
        <article class="song">
          <h2 th:text="${song.name}">Título de la canción</h2>
          <p th:text="${song.artist}">Nombre del artista</p>
        </article>
      </div>
    </section>
  </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>